# Targets Windows & Unix temporary files
~$*
*~

# exclude everything from /.vscode/ & /build/

/.vscode/
/build/
/Wallpapers/
/src/Wallpapers/
/*.exe
/src/*.exe
/src/Debug.h
/src/Debug.cpp
/Debug/
/Release/
/.vs/
/x64/
/WallpaperChanger.vcxproj.user
/config.ini
/Wallpapers/